.font-bold{
  font-weight: 700;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl{
  font-size: 3rem;
  line-height: 1rem;
}

.text-6xl{
  font-size: 3.75rem;
  line-height: 1rem;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-justify{
  text-align: justify;
}

.text-center{
  text-align: center;
}

.italic{
  font-style: italic;
}

.underline{
  text-decoration: underline;
}

.line-through{
  text-decoration: line-through;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-4{
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.indent-8{
  text-indent: 2rem;
}